@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary-color: #9e8fb2;
$primary-color-dark: #5c437e;
$secondary-color: #668586;
$secondary-color-dark: #0d2929;
$grey-color: #353232;

// taking the fonts weight as params for easy customisation
@mixin font--primary($weight) {
  font-family: "Roboto", sans-serif;
  font-weight: $weight;
  font-style: normal;
  letter-spacing: 0.15em;
}

@mixin font--secondary($weight) {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: $weight;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.025em;
}

@mixin link--secondary($hover_color) {
  a {
    text-transform: uppercase;
    font-size: x-small;
    text-decoration: none;
    color: $grey-color;

    &:hover {
      color: $hover_color;
    }

    &:active {
      color: $hover_color;
    }
  }
}
