// based on bootstrap breakpoints

$sm: 500px; // phone
$m: 767px; // tablet
$l: 992px; // large device like laptops
$xl: 1200px; // desktops
$xxl: 1400px; //large desktops

@mixin phone {
  @media only screen and (min-width: 0) and (max-width: ($sm - 1)) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $m) and (max-width: ($l - 1)) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: ($l)) {
    @content;
  }
}
