@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;


.productPage {
@include bv.font--primary(400);
display: flex;
flex-direction: column;

.productPage_heart {
  display: flex;
  justify-content: flex-end;

  svg {
    width: 1.5em;
    height: 1.5em;
  }
}

  button {
    width: 15em;
}
}
