@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.button {
  align-items: center;
  background-color: #fff;
  border: 2px solid bv.$primary-color;
  box-sizing: border-box;
  color: bv.$grey-color;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:focus {
    color: #171e29;
  }

  &:hover {
    border-color: bv.$secondary-color;
    color: white;
    fill: bv.$secondary-color;
    background-color: bv.$secondary-color;
  }

  &:active {
    border-color: bv.$secondary-color;
    color: white;
    fill: bv.$secondary-color;
    background-color: bv.$secondary-color;
  }

  @include q.tablet {
    min-width: 170px;
  }

  @include q.laptop {
    min-width: 200px;
  }
}

.productPage_button { //TODO: how do you fix this?

    svg {
    margin-right: 10px; 
    height: 1em;
    width: 1em;
  }

  button {
 &:hover {
    svg {
    path {
      fill: white;
    }
  }
  }
  }
 

}