@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.hero {
  @include bv.font--secondary(400);
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: stretch;

  &_left,
  &_right {
    flex: 1;
  }

  &_left {
    h1 {
      @include bv.font--primary(400);
      color: bv.$primary-color-dark;

      span {
        color: bv.$secondary-color-dark;
      }
    }
  }

  &_right {
    background-color: red;
  }

  @include q.phone {
    flex-direction: column;
  }
}
