@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.hero {
  @include bv.font--secondary(300);
  width: 100%;
  color: bv.$grey-color;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  &_left {
    padding: 1em;
    h1 {
      @include bv.font--primary(300);
      color: bv.$primary-color-dark;

      span {
        color: bv.$secondary-color-dark;
      }
    }

    button {
      margin-top: 1em;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include q.phone {
    flex-direction: column;
  }

  @include q.tablet {
    &_left {
      flex: 1;
      width: 50%;
    }

    img {
      flex: 1;
      width: 50%;
    }
  }

  @include q.tablet {
    .image_container {
      flex: 1;
      width: 50%;
      height: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @include q.laptop {
    h1 {
      font-size: 3em;
      width: 80%;
      margin: 0 auto;

      span {
        margin-left: 1em;
      }
    }

    &_left {
      flex: 1;
      width: 50%;
    }

    .image_container {
      flex: 1;
      width: 50%;
      height: auto;
      max-height: 350px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
