@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.hero {
  @include bv.font--secondary(300);
  color: bv.$grey-color;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: stretch;

  &_left,
  &_right {
    flex: 1;
  }

  &_left {
    padding: 1em;
    h1 {
      @include bv.font--primary(300);
      color: bv.$primary-color-dark;

      span {
        color: bv.$secondary-color-dark;
      }
    }

    button {
      margin-top: 1em;
    }
  }

  &_right {
    background-color: red;
  }

  @include q.phone {
    flex-direction: column;
  }

  @include q.laptop {
    h1 {
      font-size: 3em;
      width: 80%;
      margin: 0 auto;

      span {
        margin-left: 1em;
      }
    }
  }
}
