@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.trending {
  padding-bottom: 1em;
  img {
    width: 100%;
    object-fit: contain;
  }

  h2,
  p {
    margin: 0;
    text-align: start;
  }

  @include bv.link--secondary(bv.$primary-color-dark);

  @include q.phone {
    h2 {
      padding: 0 10px;
    }
    p {
      padding: 0 10px;
    }
  }

  @include q.laptop {
    img {
      height: 400px;
      width: 600px;
      object-fit: cover;
    }
  }
}
