@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.container {
  width: 240px;
  height: 240px;
  background-color: black;
  background-size: cover;
  cursor: pointer;
  @include bv.link--secondary(white);

  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.overlay {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;

  background: rgba(77, 77, 77, 0.9);
  color: #fef5df;
  opacity: 0;
  transition: all 0.4s;

  @include bv.font--primary(400);
}

.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  transform: translateY(40px);
  transition: all 0.7s;
  hr {
    display: block;
    width: 0;

    border: none;
    border-bottom: solid 2px #fef5df;

    position: absolute;
    bottom: 0;
    left: 20px;

    transition: all 0.5s;
  }
}

.price {
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  .old {
    text-decoration: line-through;
    color: lighten(rgb(77, 77, 77), 40%);
  }
}

.cart {
  opacity: 0;
  letter-spacing: 1px;
  @include bv.font--secondary(400);
  transform: translateY(40px);
  transition: all 0.7s;
}

.container:hover .overlay {
  opacity: 1;
  & .head {
    transform: translateY(0px);
  }

  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }

  & .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }

  & .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}

@include q.laptop {
  .container {
    width: 300px;
    height: 300px;
  }
}
