@use "../../scss/partials/queries" as q;

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;

  @include q.tablet {
    padding: 1em 1.5em 0.5em 1.5em;
    max-width: 900px;
  }

  @include q.laptop {
    padding: 1em 2em 0.5em 2em;
    max-width: 1400px;
  }
}
