@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  gap: 1.5em;
  @include bv.font--secondary(400);
}

.title {
  font-size: 30px;
  @include q.phone {
    font-size: 24px;
  }
}

.button {
  font-size: 18px;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 2em;
  @include q.phone {
    font-size: 16px;
  }
  &_text {
    color: white;
  }
  &:hover {
    cursor: pointer;
    background-color: var(--c-hl);
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  @include q.phone {
    height: 6vh;
  }
  &_title {
    @include bv.font--primary(400);
    font-size: 28px;
    @include q.phone {
      font-size: 20px;
    }
  }
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  height: 10vh;
  @include bv.font--primary(400);
  @include q.phone {
    height: 6vh;
  }
  &_title {
    font-size: 16px;
    @include q.phone {
      font-size: 12px;
    }
  }
}
