@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.main_header {
  @include bv.font--primary(600);
  font-size: 1.15em;

  @include q.tablet {
    font-size: 1.25em;
  }

  @include q.laptop {
    font-size: 2.25em;
  }
}
