@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  padding-top: 1em;
  padding-bottom: 1em;
  @include bv.font--primary(500);

  &_left_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }

  &_menu_wrapper {
    display: flex;
    justify-content: space-evenly;
    flex: 2;
  }

  &_icon_wrapper {
    display: flex;
    justify-content: flex-end;
    column-gap: 1em;
    flex: 1;
  }

  @include q.phone {
    .hamburger {
      display: fixed;
      padding-top: 10px;
      margin-right: 10px;
      z-index: 10;
    }
  }
}

.link {
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
  }
  &:hover {
    color: black;
  }

  &_active {
    color: bv.$secondary-color;
    text-decoration: none;
    &:visited {
      color: bv.$secondary-color;
    }
    &:hover {
      color: bv.$primary-color-dark;
    }
  }
}
