@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.container {
  &_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
  }

  // @media only screen and (min-width: 500px) and (max-width: (767px - 1)) {
  //   &_grid {
  //     grid-template-columns: repeat(2, 1fr);
  //   }
  // }

  @include q.tablet {
    &_grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include q.laptop {
    &_grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
