@use "../../scss/partials/brand-variables" as bv;

.footer {
  @include bv.font--primary(400);
  background: lighten(bv.$primary-color, 30%);
  font-size: xx-small;

  .contact {
    direction: flex;
    padding: 0.5em 1em;
  }

  .copyright {
    padding: 0.5em 1em;
  }
}
