@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.category {
  flex: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &_header {
    @include bv.font--primary(300);
    padding: 1em 0;
    display: flex;
    justify-content: space-between;

    h2 {
      @include bv.font--secondary(300);
      margin: 0;
    }
  }

  &_body {
    flex: 1;
  }

  @include q.phone {
    &_header {
      padding: 10px 10px;
    }
  }
}
