@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.home {
  width: 100%;
  position: relative;
  flex: 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .container {
    border: 1px solid red;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .img_wrapper {
    width: 50%;
  }

  @include q.phone {
    .container {
      padding-top: 3.5em;
    }
    .header_wrapper {
      position: absolute;
      top: 0;
      width: 80%;
    }
  }

  @include q.tablet {
    .container {
      padding-top: 4.5em;
    }

    .header_wrapper {
      position: absolute;
      top: 0;
      width: 45%;
    }
  }

  @include q.laptop {
    .container {
      padding: 0.5em 0em 0.5em 6em;
      align-items: flex-start;
    }

    .img_wrapper {
      width: 45%;
    }

    .header_wrapper {
      position: absolute;
      top: 25;
      right: 10%;
      width: 30%;
    }
  }
}
